
@font-face {
    font-family: 'proximanova-regular';
    src: url('fonts/proximanova-regular_0-webfont.eot');
    src: url('fonts/proximanova-regular_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova-regular_0-webfont.woff') format('woff'),
         url('fonts/proximanova-regular_0-webfont.ttf') format('truetype'),
         url('fonts/proximanova-regular_0-webfont.svg#webfontregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'proximanova-lihgt';
    src: url('fonts/proximanova-light_0-webfont.eot');
    src: url('fonts/proximanova-light_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova-light_0-webfont.woff') format('woff'),
         url('fonts/proximanova-light_0-webfont.ttf') format('truetype'),
         url('fonts/proximanova-light_0-webfont.svg#webfontregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'proxima_nova_rgbold';
    src: url('fonts/proximanova-bold_0-webfont.eot');
    src: url('fonts/proximanova-bold_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova-bold_0-webfont.woff') format('woff'),
         url('fonts/proximanova-bold_0-webfont.ttf') format('truetype'),
         url('fonts/proximanova-bold_0-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'calligraffitiregular';
    src: url('fonts/Calligraffiti-webfont.eot');
    src: url('fonts/Calligraffiti-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Calligraffiti-webfont.woff') format('woff'),
         url('fonts/Calligraffiti-webfont.ttf') format('truetype'),
         url('fonts/Calligraffiti-webfont.svg#calligraffitiregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'angelinaregular';
    src: url('fonts/angelina-webfont.eot');
    src: url('fonts/angelina-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/angelina-webfont.woff') format('woff'),
         url('fonts/angelina-webfont.ttf') format('truetype'),
         url('fonts/angelina-webfont.svg#angelinaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


body,.zero{
    font-size: 14px;
    margin: 0;
    padding: 0;
    background: url(../img/bgbody.jpg);

}

* {
    margin: 0;
    padding: 0;
}
.navtop{
    width: 100%;
    height: 100px;
    background-color: #E30A21;
    margin-bottom: 40px;
}

.navtop .span8 img{
    width: 150px;
    margin-top: 20px;
}

.navtop .span4 img{
    width: 280px;
    margin-top: 25px;
    float: right;
}

.buttonbox{
    max-width: 260px;
    min-height: 100px;
    background: url(../img/bgbox.jpg);
    background-position: bottom;
    border-radius: 0.5em;
    margin: 0 auto;
    border: 0.1em dashed #fff;
}


.buttonbox .tittlebox{
    width: 100%;
    height: 40px;
    background-color: #fff;
    margin: 0 auto;
    border-radius: 0.5em 0.5em 0 0;
    font-family: 'proximanova-lihgt';
    font-size: 1em;
    color: #000;
    text-align: center;
    line-height: 45px;
}

.buttonbox .textbox{
    width: 90%;
    min-height: 30px;
    text-align: center;
    font-family: 'proxima_nova_rgbold';
    font-size: 1.2em;
    margin: 0 auto;
    padding-top: 8px;
}

.buttonbox .textbox a{
    color: #fff;
    text-decoration: none;
    text-shadow: 2px 2px 5px #666;


    
}
.buttonbox .textbox a div{
    width: 100%;
    height: 100%;
    
}

.buttonbox .textbox a:hover{
    color: #fff;
    text-shadow: 0px 0px 5px #fff;

        -webkit-transition: all 500ms ease;
        -moz-transition: all 500ms ease;
        -ms-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        transition: all 500ms ease;

    
}

.buttonbox:hover{
    
    background-image:url(../img/box.png);
    background-position: bottom left;
    cursor:pointer;
    color: #fff;
    text-shadow: 0px 0px 5px #fff;

    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.buttonbox .active{
	 background-image:url(../img/box.png);
}

.buttonbox .inactive{
}

.showcontent{
 
    background: url(../img/responselogo.png) no-repeat;
    background-position: 80px 120px;
    width: 100%;
    height:320px;

}


.sep{
    width: 100;
    display: block;
    height: 15px;
}

.navswitch{
    width: 600px;
    height: 50px;
    margin: 0 auto;
    background: #333;
    margin-bottom: 40px;
    border-radius: 5px;
}


.navswitch ul{
    width: 100%;
    display: inline-block;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    font-family: 'proximanova-regular';

    
}

.navswitch ul li{
    float: left;
    width: 33%;

}
.navswitch ul li a{
    color: #fff;
    text-decoration: none;
    line-height: 50px;
    padding: 17px 14px;
    border-radius: 5px;

}

.navswitch ul li a:hover{
    color: #fff;
    line-height: 30px;
    background-color: #c00;
    -webkit-transition: all 500ms ease;
        -moz-transition: all 500ms ease;
        -ms-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        transition: all 500ms ease;


}

.tabactive{
    color: #fff;
    line-height: 30px;
    background-color: #c00;
        -webkit-transition: all 500ms ease;
        -moz-transition: all 500ms ease;
        -ms-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        transition: all 500ms ease;
}

.navswitch ul li .thisactive{
    color: #fff;
    line-height: 30px;
    background-color: #c00;

}

.navswitch ul li .thisinactive{
    color: #fff;
    line-height: 50px;
    background-color: #333;

}

.indexfront{
    width: 100%;
    margin-top: 150px;
}
.indexfront img{
    width: 100%;
    margin: 0 auto;
}

.gatekeeper{
    max-width: 1000px;
}


.onthis{
    width: 100%;
    min-height: 52px;
    text-align: center;
    font-family: 'proxima_nova_rgbold';
    font-size: 1.2em;
    margin: 0 auto;
    padding-top: 8px;
    background-color: #333;
    border-radius: 0 0 5px 5px; 
    background-image:url(../img/box.png);
    background-position: bottom left;
}


.onthis a{
    color: #fff;
    text-decoration: none;
}

.onthis a:hover{
    color: #fff;
    text-decoration: none;
}

.subbox {
    list-style: none;
}

.subbox a{
    font-size: 12px;
    font-family: 'proximanova-regular';
    list-style: none;
    line-height: 14px;
    background: none;

}
.subbox a:hover{
    text-decoration: underline;
    color: #c00;
}




#container1, #container2, #container3, #container4, #container5,
#container6, #container7, #container8, #container9, #container10, #container11,
#container12, #container13, #container14, #container15, #container16, #container17, #container18, #container19, #container20, #container21,
#container22, #container23, #container24, #container25, #container26, #container27 , #container28, #container29, #container30, #container31, #container32, #container33,#container38,#container39,#container40,#container41,#container42{
  display:none;
  height:auto;
  width: 100%;
  font-family: 'proximanova-lihgt';
  font-size: 1.4em;
  text-align: center;
  color: #fff;
  line-height: 1.5em;
  padding: 30px 10px; 
  background-color: #333;
  border-radius: 0.5em;
  box-shadow: 0px 0px 8px #666;


}

#container34{
  display:none;
  height:300px;
  width: 100%;
  font-family: 'proximanova-lihgt';
  font-size: 1.4em;
  text-align: center;
  color: #333;

}



#container35{
  display:none;
  height:auto;
  width: 100%;
  font-family: 'proximanova-lihgt';
  font-size: 1.1em;
  text-align: left;
  color: #fff;
  line-height: 1.5em;
  padding: 100px 10px 10px 10px; 
  background-color: #333;
  border-radius: 0.5em;
  box-shadow: 0px 0px 8px #666;


}



#container4{
    text-align: left;
    padding-top: 85px;

}

#container14{
    padding-top: 60px;

}

#container12{
    font-size: 1.3em;
}

.none{
    display: none;
}

.iconssup{

    display: inline-block;
}



.sepbig{
    height: 30px;
    border-bottom:2px dashed #666;
    margin-bottom: 20px;
}


.menulist{
    font-family: 'proxima_nova_rgbold';
    font-size: 1.4em;


}


.menulist ul{
    list-style: none;
    padding: 0;
    margin: 0;

    
}

.menulist ul li{
    width: 100%;
    height: 80px;
    margin: 10px 0;
    border-radius: 5px;
    padding: 5px 0 5px 10px;
    border: 1px dashed #666;
}

.menulist ul li a{
    color: #333;
    text-decoration: none;
    line-height: 80px;
    padding: 20px;
    width: 100%;

}

.bold{
    font-family: 'proxima_nova_rgbold';
    font-weight: normal;
    background: #C00;
    padding: 3px 5px;
    border-radius: 5px;
}

.bold2{
    font-family: 'proxima_nova_rgbold';
    font-weight: normal;
}

.bgshow01{
    background: url(../img/bgshow01.png) no-repeat;
    background-position: top left;
}

.bgshow02{
    background: url(../img/bgshow02.png) no-repeat;
    background-position: top left;
}

.bgshow03{
    background: url(../img/bgshow03.png) no-repeat;
    background-position: top left;
}

.bgshow04{
    background: url(../img/bgshow04.png) no-repeat;
    background-position: top left;
}

.bgshow05{
    background: url(../img/bgshow05.png) no-repeat;
    background-position: top left;
}

.bgshow06{
    background: url(../img/bgshow06.png) no-repeat;
    background-position: top left;
}

.bgshow07{
    background: url(../img/bgshow07.png) no-repeat;
    background-position: top left;
}

.bgshow08{
    background: url(../img/bgshow08.png) no-repeat;
    background-position: top left;
}

.bgshow09{
    background: url(../img/bgshow09.png) no-repeat;
    background-position: top left;
}

.bgshow10{
    background: url(../img/bgshow10.png) no-repeat;
    background-position: top left;
}

.bgshow11{
    background: url(../img/bgshow11.png) no-repeat;
    background-position: top left;
}

.bgshow12{
    background: url(../img/bgshow12.png) no-repeat;
    background-position: top left;
}

.bgshow13{
    background: url(../img/bgshow13.png) no-repeat;
    background-position: top left;
}

.bgshow14{
    background: url(../img/bgshow14.png) no-repeat;
    background-position: top left;
}

.bgshow15{
    background: url(../img/bgshow15.png) no-repeat;
    background-position: top left;
}

.bgshow16{
    background: url(../img/bgshow16.png) no-repeat;
    background-position: top left;
}

.bgshow17{
    background: url(../img/bgshow17.png) no-repeat;
    background-position: top left;
}

.bgshow18{
    background: url(../img/bgshow18.png) no-repeat;
    background-position: top left;
}

.bgshow19{
    background: url(../img/bgshow19.png) no-repeat;
    background-position: top left;
}

.bgshow20{
    background: url(../img/bgshow20.png) no-repeat;
    background-position: top left;
}

.bgshow21{
    background: url(../img/bgshow21.png) no-repeat;
    background-position: top left;
}

.bgshow22{
    background: url(../img/bgshow22.png) no-repeat;
    background-position: top left;
}

.bgshow23{
    background: url(../img/bgshow23.png) no-repeat;
    background-position: top left;
}

.bgshow24{
    background: url(../img/bgshow24.png) no-repeat;
    background-position: top left;
}

.bgshow25{
    background: url(../img/bgshow25.png) no-repeat;
    background-position: top left;
}




.bgshow26{
    background: url(../img/bgshow26.png) no-repeat;
    background-position: top left;
}




.bgshow31{
    background: url(../img/bgshow31.png) no-repeat;
    background-position: top left;
}